body {
    background-color: rgb(252, 201, 252);
    font-family: 'Sofia', cursive; 
    font-size: 22px;
    color: rgb(131, 52, 114);
    
}

fieldset {
    width: 600px;
}

#header img {
    position: absolute;
    float: left;
}

#checkboxList {
    text-align:left; 
    width: 420px; 
    margin: auto;
}

#questions {
    text-align: center; 
    margin: auto; 
    width: fit-content;
}