body {
    background-color: rgb(252, 201, 252);
    font-family: 'Silkscreen', cursive; 
    font-size: 22px;
    color: rgb(131, 52, 114);
    
}

fieldset {
    width: 600px;
}

.header { grid-area: header; }
.questions { grid-area: questions; }
.left { grid-area: left; }
.right { grid-area: right; }

.gridContainer {
    display: grid;
    grid-template-areas: 
    'left header right'
    'left questions right'
    'menu footer footer footer footer footer';
    gap: 10px;
    background-color: gray;
    padding: 10px;
}


#question {
    
    animation-duration: 1s;
}

#checkboxList {
    text-align:left; 
    width: 420px; 
    margin: auto;
}

#questions {
    text-align: center; 
    margin: auto; 
    width: fit-content;
}


@keyframes slideRight {
    
}

@keyframes slideLeft {
    
}